<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda magni atque animi aut nam, maxime reprehenderit soluta adipisci corrupti sapiente fugit neque alias, eum, obcaecati ducimus illo tempora labore quas nulla placeat distinctio. Officia eaque maiores cupiditate accusantium aspernatur id.</p>
    </div>
</div>