<div class="jumbotron mt-4">
    
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsam dolores sint odio aspernatur. Culpa ut doloribus quidem consectetur modi ipsam odio cupiditate, illum et reiciendis eveniet at sapiente dolor veritatis, totam veniam. Fugiat, cupiditate facere placeat beatae ipsum repellendus?</p>
    <a href="https://google.com" class="btn btn-primary btn-lg">Google</a>
</div>