{{#if success_msg}}

<div class="">

     <div class="form-success " role="alert">{{success_msg}}</div>

</div>

{{/if}}

{{#if error_msg}}

<div class="">

     <div class="form-error " role="alert">{{error_msg}}</div>

</div>

{{/if}}