<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note APP</title>
    {{!-- Bootstrap  --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css"> {{!-- Acá no necesito poner la ruta explicitamente, ya que la ruta pública la dejamos clara en el index.js, pero no la carpeta y su nombre asi que podemos acceder directamente a todo lo que está dentro asi que entramos directamente --}}
</head>
<body>

    <p>Navigation</p>

    <main class =" container">

        {{{ body }}}

    </main>

  
    

    <p>Footer</p>    
</body>
</html>